.header {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-top: 20px;
}

.logoLol {
  position: relative;
  right: 64px;
  width: 220px;
  margin: 0 auto;
}

.logoLol img {
  width: 100%;
}

.switch {
  display: flex;
  justify-content: center;
}

.sun {
  margin: 55px 10px;
  top: -9px;
  position: relative;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}

.moon {
  margin: 55px 10px;
  top: -9px;
  position: relative;
  color: rgb(255, 255, 255);
  opacity: 0;
}
